.modal-content{
    border-radius: 15px !important;
}
form{
    border-radius: 15px !important;
    background-image: url('../../../assets/card-details-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.label-text{
    color: rgb(7, 6, 88);
    padding: 0 2px 0 2px;
    border-radius: 5px;
    background: whitesmoke;
    font-family: Stencil;
}
.alert-text{
    color: rgb(7, 6, 88);
    padding: 0 2px 0 2px;
    border-radius: 5px;
    background: whitesmoke;
    font-family: Tahoma;
}
img{
    width: 198px;
    border-radius: 10px;
}
.validation-alert-title{
    position: absolute;
    top:-8px;
    color: red;
}
.validation-alert{
    position: absolute;
    top:-24px;
    color: red;
}
.success{
    color:blueviolet;
}
.process{
    color:darkslategray;
}
.close{
    width: 55px;
    height: 55px;
    margin-right: -46px !important;
    background-color: chocolate;
    border-radius: 15px;
}
.close :hover{
    border-radius: 15px;
}

.bottom-buttons{
    padding-top: 2px;
    padding-bottom: 2px;
    border-width: 2px !important;
    font-size: 20px;
    font-weight: bold;
    font-family: Magneto;
}
.form-control.ng-invalid.ng-touched{
    border-color:red; 
}