
<form [formGroup]="movieForm">
  <div class="modal-header">
        <div class="container-fluid form-group row">
           <label for="idFormInput" 
                class="col-sm-2 col-form-label mt-3"><span class="label-text">Title</span></label>
           <div class="col">
              <div class="validation-alert-title alert-text"  *ngIf="title.touched && title.errors?.required">
                  Title is required
              </div>
              <div class="validation-alert-title success alert-text" *ngIf="title.status==='VALID' && title.value!==movie.title">
                Title is available
              </div>
              <div class="validation-alert-title alert-text" *ngIf="title.invalid && title.errors.minlength">
                Title must be greater than {{title.errors.minlength.requiredLength}}
              </div>
              <div class="validation-alert-title process alert-text" *ngIf="title.status==='PENDING'">
                Checking...
              </div>
              <div class="validation-alert-title alert-text" *ngIf="title.errors?.titleExist && title.value!==movie.title">
                Title already exists
              </div>
              <div class="validation-alert-title alert-text" *ngIf="title.errors?.whitespace">
                    Title are not start with space
              </div>
              <input formControlName="title"
           type="text" 
           class="form-control form-control-lg mt-3" 
                     id="titleInput" > 
            </div>       
            
               <button type="button" 
                       class="close float-right" 
                       aria-label="Close" 
                      (click)="activeModal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
              </button> 
    
    </div>


  </div>

  <div class="modal-body row">
    <div class="container">
      <div class="row m-0">
    <div class="col-auto">
      <img class="card-img-top" 
           src="{{posterInput.value}}" 
           onError="this.src='../../assets/No_Image_Available.jpg'"
           alt="Card image cap">
    </div>
    <div class="col-8">

        <!-- Id -->
        <div class="form-group row">
          <label for="idFormInput" 
                 class="col-sm-2 col-form-label"><span class="label-text">Id</span></label>
          <div class="col-sm-10">
           
            <input formControlName="id"
                   type="text" 
                   class="form-control" 
                   id="idFormInput">
          </div>
      </div>
        <!-- End Id -->

        <!-- Year -->
        <div class="form-group row mt-4">
            <label for="yearFormInput" class="col-sm-2 col-form-label"><span class="label-text">Year</span></label>
            <div class="col-sm-10">
               <span class="validation-alert alert-text" *ngIf="year.touched && year.errors?.required">
                   Year is required
               </span>
                <span class="validation-alert alert-text" *ngIf="year.errors?.min">
                    Year must be greater than or equals {{yearMinValue}}
                </span>
                <span class="validation-alert alert-text" *ngIf="year.errors?.max">
                    Year must be less than or equal to {{yearMaxValue}}
                </span>     
             
              <input formControlName="year"
                     type="number" 
                     class="form-control" 
                     id="yearFormInput">
            </div>
        </div>
        <!-- End Year -->

        <!-- Runtime -->
        <div class="form-group row mt-4">
            <label for="runtimeFormInput" 
                   class="col-sm-2 col-form-label"><span class="label-text">Runtime</span></label>
            <div class="col-sm-10">
              <div class="input-group mb-3">

                 <span class="validation-alert alert-text" *ngIf="runtime.touched && runtime.errors?.required">
                      Runtime is required
                  </span>
                  <span class="validation-alert alert-text" *ngIf="runtime.errors?.min">
                      Year must be greater than or equals {{runtime.errors.min.requiredMin}}
                  </span>
                  <span class="validation-alert alert-text" *ngIf="runtime.errors?.max">
                      Year must be greater than or equals {{runtimeMaxValue}}
                  </span>
                
                <input formControlName="runtime"
                       type="number" 
                       class="form-control" 
                       id="runtimeFormInput" 
                       value="{{movie.runtime | runtimeToNumber}}">
                <div class="input-group-append">
                  <span class="input-group-text" 
                        id="basic-addon2">minutes</span>
                </div>
              </div>
            </div>
        </div>
        <!--End Runtime -->

        <!-- Genre -->
          <div class="form-group row">
              <label for="genreFormInput" 
                     class="col-sm-2 col-form-label"><span class="label-text">Genre</span></label>
              <div class="col-sm-10">
                <span class="validation-alert alert-text" *ngIf="genre.touched && genre.errors?.required">
                    Genre is required
                </span>
                <input formControlName="genre"
                       type="text"
                       class="form-control" 
                       id="genreFormInput">
              </div>
          </div>
          <!--End Genre -->

          <!-- Director -->
          <div class="form-group row mt-4">
              <label for="directorFormInput" class="col-sm-2 col-form-label"><span class="label-text">Director</span></label>
              <div class="col-sm-10">
                <span class="validation-alert alert-text" *ngIf="director.touched && director.errors?.required">
                    Director is required
                </span>
                <input  formControlName="director"
                        type="text"
                        class="form-control" 
                        id="directorFormInput">
              </div>
          </div>
          <!--End Director -->

    </div> 
      </div>
      <div class="row ">
        <div class="col">

   <!-- Poster -->
   <div class="form-group row mt-3">
      <label for="posterFormInput" 
             class="col-sm-2 col-form-label mt-2"><span class="label-text">Image Url</span></label>
      <div class="col-sm-10">

            <span class="validation-alert alert-text" *ngIf="poster.errors?.required">
               Image Url is required
            </span>
            <span class="validation-alert alert-text" *ngIf="poster.errors?.imageValid">
                Image Url is not valid
            </span>
          
        <textarea  formControlName="poster"
                   #posterInput
                   type="text"
                   class="form-control" 
                   id="posterFormInput" 
                   value="{{movie.poster | localImageUrlHider}}"></textarea>
      </div>
  </div>
  <!-- End Poster -->

        </div>
  
      </div>
    </div> 
  </div>
  <div class="modal-footer">
    <div class="row container-fluid text-center">
      
        <button type="button" 
                class="col-4 btn btn-outline-danger bottom-buttons" 
                appButtonHover
                (click)="deleteConfirmation()">Delete</button>
              
              <button type="button" 
                      class="col-4 btn btn-outline-success bottom-buttons" 
                      [disabled]="!movieForm.valid"
                      appButtonHover
                      (click)="updateMovie()">Save</button>
              
          <button type="button" 
                  class="col-4 btn btn-outline-dark bottom-buttons" 
                  appButtonHover
                  ngbAutofocus
                  (click)="activeModal.close('Close click')">Close</button>      
    </div>
  </div>
</form>


