
<form [formGroup]="movieForm">
  <div class="modal-header">
    <span class="validation-alert-title alert-text" *ngIf="title.errors?.required">
        Title is required
    </span>
    <span class="validation-alert-title process alert-text" *ngIf="title.status==='PENDING'">
        Checking...
    </span>
    <span class="validation-alert-title success alert-text" *ngIf="title.status==='VALID'&&title.value!==movie.title">
        Title is available
    </span>
    <span class="validation-alert-title alert-text" *ngIf="title.errors?.titleExist&&title.value!==movie.title">
        Title already exists
    </span>
    <input formControlName="title"
           type="text" 
           class="form-control form-control-lg mt-3" 
           id="titleInput" 
           value="{{movie.title | capitalizeFirstLetter | removeNonEnglishLetter}}"
           [ngStyle]="{'border-color':title.valid||title.value===movie.title ? '#ced4da' : 'red' }"> 
     <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
     </button>
  </div>
  <div class="modal-body row">
    <div class="container">
      <div class="row m-0">
    <div class="col-auto">
      <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
    </div>
    <div class="col-8">
        <div class="form-group row">
          <label for="idFormInput" 
                 class="col-sm-2 col-form-label"><span class="label-text">Id</span></label>
          <div class="col-sm-10">
           
            <input formControlName="id"
                   type="text" 
                   class="form-control" 
                   id="idFormInput" 
                   value="{{movie.id}}">
          </div>
      </div>
        <div class="form-group row mt-4">
            <label for="yearFormInput" class="col-sm-2 col-form-label"><span class="label-text">Year</span></label>
            <div class="col-sm-10">
              <span class="validation-alert alert-text" *ngIf="year.errors?.required">
                  Year is required
              </span>
              <span class="validation-alert alert-text" *ngIf="year.errors?.min">
                  Year must be greater than or equals {{yearMinValue}}
              </span>
              <span class="validation-alert alert-text" *ngIf="year.errors?.max">
                  Year must be less than or equal to {{yearMaxValue}}
              </span>
              <input formControlName="year"
                     type="number" 
                     class="form-control" 
                     id="yearFormInput" 
                     value="{{movie.year}}"
                     [ngStyle]="{'border-color':year.invalid ? 'red' : '#ced4da' }">
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="runtimeFormInput" 
                   class="col-sm-2 col-form-label"><span class="label-text">Runtime</span></label>
            <div class="col-sm-10">
              <div class="input-group mb-3">
                  <span class="validation-alert alert-text" *ngIf="runtime.errors?.required">
                      Runtime is required
                  </span>
                  <span class="validation-alert alert-text" *ngIf="runtime.errors?.min">
                      Year must be greater than or equals {{runtimeMinValue}}
                  </span>
                  <span class="validation-alert alert-text" *ngIf="runtime.errors?.max">
                      Year must be greater than or equals {{runtimeMaxValue}}
                  </span>
                <input formControlName="runtime"
                                   type="number" 
                                   class="form-control" 
                                   id="runtimeFormInput" 
                                   value="{{movie.runtime | runtimeToNumber}}"
                                   [ngStyle]="{'border-color':runtime.invalid ? 'red' : '#ced4da' }">
                <div class="input-group-append">
                  <span class="input-group-text" 
                        id="basic-addon2">minutes</span>
                </div>
              </div>
            </div>
        </div>
          <div class="form-group row">
              <label for="genreFormInput" 
                     class="col-sm-2 col-form-label"><span class="label-text">Genre</span></label>
              <div class="col-sm-10">
                <span class="validation-alert alert-text" *ngIf="genre.errors?.required">
                    Genre is required
                </span>
                <input formControlName="genre"
                       type="text"
                       class="form-control" 
                       id="genreFormInput" 
                       value="{{movie.genre}}"
                       [ngStyle]="{'border-color':genre.invalid ? 'red' : '#ced4da' }">
              </div>
          </div>
          <div class="form-group row mt-4">
              <label for="directorFormInput" class="col-sm-2 col-form-label"><span class="label-text">Director</span></label>
              <div class="col-sm-10">
                <span class="validation-alert alert-text" *ngIf="director.errors?.required">
                    Director is required
                </span>
                <textarea  formControlName="director"
                           type="text"
                           class="form-control" 
                           id="directorFormInput" 
                           value="{{movie.director}}"
                           [ngStyle]="{'border-color':director.invalid ? 'red' : '#ced4da' }"></textarea>
              </div>
          </div>
    </div> 
      </div>
      <div class="row ">
        <div class="col">
   <div class="form-group row mt-3">
      <label for="posterFormInput" class="col-sm-2 col-form-label"><span class="label-text">Image Url</span></label>
      <div class="col-sm-10">
          <span class="validation-alert alert-text" *ngIf="poster.errors?.required">
              Image Url is required
          </span>
        <textarea  formControlName="poster"
                   type="text"
                   class="form-control" 
                   id="posterFormInput" 
                   value="{{movie.poster | localImageUrlHider}}"
                   (keyup)="setMovieImage(poster.value)"
                   [ngStyle]="{'border-color':poster.invalid ? 'red' : '#ced4da' }"></textarea>
      </div>
  </div>
        </div>
  
      </div>
    </div> 
  </div>
  <div class="modal-footer">
    <div class="row container-fluid text-center">
      
        <button type="button" 
                class="col-4 btn btn-outline-danger bottom-buttons" 
                appButtonHover
                (click)="deleteConfirmation()">Delete</button>
              
              <button type="button" 
                      class="col-4 btn btn-outline-success bottom-buttons" 
                      [disabled]="!movieForm.valid"
                      appButtonHover
                      (click)="updateMovie()">Save</button>
              
          <button type="button" 
                  class="col-4 btn btn-outline-dark bottom-buttons" 
                  appButtonHover
                  (click)="activeModal.close('Close click')">Close</button>      
    </div>
  </div>
</form>


