
  <div class="page-title mb-3 fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-auto text-left">
         <h3>Welcome to Cinema Portal </h3>
      </div>
      <div class="col-auto">
        <app-movie-alert></app-movie-alert>
      </div>
      <div class="col">
              <button type="button" 
                      class="pl-5 pr-5 btn btn-outline-dark float-right"
                     (click)="newMovie()"
                     appButtonHover>Add Movie</button>
      </div>         
    </div>
  </div>
</div>
<div class="container movies-container">
  <div class="row">
    <div class="col d-flex align-items-stretch mt-3" 
         *ngFor="let movie of movies"
         (click)="getMovieDetails(movie)">
      <div class="card rounded" 
           style="width: 18rem;"
           appHover>
        <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{movie.title| capitalizeFirstLetter | removeNonEnglishLetter}}</h5>
          <p class="card-text">{{movie.genre}}</p>
          <button class="btn btn-outline-dark mt-auto edit-button"
                  (click)="getMovieDetails(movie)">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>




