body{
    background-image: url("./assets/body-background.jpg"); 
}
.hovered{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    z-index: 100;
    border-radius: 5px;
}
.button-hovered{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    z-index: 100;
    border-radius: 5px;
}
.modal-content{
    border-radius: 15px !important;
}
